h1{
    font-size: 23px;
    text-align: center;
  }
  #divInput{
    display:flex;
    justify-content:center;
    margin-top: 25px;
  }
  #inputAdd{
    border:none;
    border-bottom: 1px solid black;
  }
  #adiciona{
   display:flex;
   align-items:center;
   justify-content:center;
    cursor:pointer;
  }
  #adicinaTarefa{
    margin-left:5px;
  }
  #tasks{
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .task{
    display:flex;
    justify-content:space-around;
  }
  #checkbox{
    width:30px;
    height:20px;
    margin-top: 15px;
    margin-right: 15px;
  }
  #txtTask{
    text-align:center;
    border-bottom: 1px solid black;
    width:200px;
  }
  #btnDeletar{
    height:25px;
    width:35px;
    margin-top: 10px;
    margin-left: 15px;
    border:none;
    background-color:#E97777;
    border-radius:10px;
    color:#F8FFDB;
  }
 .taskName{
  width: 250px;
 }
 .box-popup{
  background: rgba(0,0,0,.5);
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:none;
 }
 .btn-close{
  margin-left:230px;
  position:absolute;
 } 
 #content-popup{
  display: flex;
  justify-content: center;
  position:relative;
  width: 300px;
  margin:15% auto;
  padding: 20px;
  background:white;
  border-radius: 20px;
 }
 #question{
  margin-left:50px;
 }
