html{
  background-color:#393053;
  font-family: 'Genos', sans-serif;
}
#title{
  color:#f1f1f1;
  font-size: 50px;
  margin-top:50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;;
  }
  hr{
    width: 230px;
    margin-top:20px;
    border: 1px solid #03C988;
  }
  #divInput{
    display:flex;
    justify-content:center;
    margin-top: 25px;
  }
  #inputAdd{
    margin-top:20px;
    border:none;
    width:200px;
    height:40px;
    border-radius:7px;
    font-size:22px;
    text-align: center;
    border:none;
    font-family: 'Genos', sans-serif;
  }
  #inputAdd:focus{
    outline:0;
  }
  #add{
   display:flex;
   align-items:center;
   justify-content:center;
   margin-top: 10px;
  }
  #addTask{
    cursor:pointer;
    width:200px;
    height:40px;
    border-radius:7px;
    font-size:22px;
    text-align: center;
    background-color: #03C988;
    color:#f1f1f1;
    border:none;
    font-family: 'Genos', sans-serif;
  }
  #addTask:focus{
    outline:0;
  }
  #adicinaTarefa{
    margin-left:5px;
  }
  #tasks{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top:30px;
  }
  .task{
    width:330px;
    height:50px;
    background-color: rgb(95, 95, 95);
    margin-top:15px;
    display:flex;
    justify-content:space-around;
    border-radius:7px;
  }
  .checkbox{
    width:17px;
    cursor:pointer;
    margin-left: 10px;
  }
  #txtTask{
    text-align:center;
    border-bottom: 1px solid black;
    width:200px;
  }
  .btnDeletar{
    height:27px;
    width:35px;
    margin-top: 7px;
    margin-left: 15px;
    border:none;
    background-color:rgb(95, 95, 95);
    border-radius:7px;
    color:#E97777;
    cursor:pointer;
  }
  #btnEdition{
    height:27px;
    width:35px;
    margin-top: 7px;
    margin-left: 15px;
    border:none;
    background-color:rgb(95, 95, 95);
    border-radius:7px;
    color:#19cfc9;
    cursor:pointer;
  }
 .taskName{
  text-align:center;
  font-size: 27px;
  margin-top: 10px;
  width: 250px;
  color:#f1f1f1;
 }
 .box-popup{
  background: rgba(0,0,0,.5);
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:none;
 }
 .btn-close{
  margin-left:230px;
  position:absolute;
  margin-top: 7px;
  border:none;
  background-color:rgb(95, 95, 95);
  color:#E97777;
  cursor:pointer;
 } 
 #content-popup{
  display: flex;
  justify-content: center;
  position:relative;
  width: 300px;
  height: 150px;
  margin:50% auto;
  padding: 20px;
  background-color:rgb(95, 95, 95);
  border-radius: 20px;
 }
 .msgError{
  color:#E97777;
  display:none;
  text-align:center;
  margin-top:10px;
  font-size:19px;
 }
#titlePopup{
  font-size:30px;
  text-align: center;
  margin-top:27px;
  color:#f1f1f1;
}
#question{
  text-align: center;
  margin-top:15px;
  font-size:19px;
  color:#f1f1f1;
 }
 #new-task{
  margin-top:15px;
  border-radius: 7px;
  border:none;
  height:25px;
 }
 #new-task:focus{
  outline:0;
 }
 .btn-confirm{
  border-radius:7px;
  border:none;
  background-color: #03C988;
  cursor:pointer;
  color:#f1f1f1;
  height: 25px;
 }

 .riscar{
  text-decoration-line: line-through;
  color:rgb(157, 150, 150);
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black
} 


::-webkit-scrollbar-track {
  background-color: #49349c11;
  border-radius:7px;
}
::-webkit-scrollbar {
  width: 6px;
  background: #49349c11;
  height: 6px;
  border-radius:7px;
}
::-webkit-scrollbar-thumb {
  background:rgb(95, 95, 95);
  border-radius:7px;
}

@media (min-width : 600px){
  #title{
    font-size:70px
  }
  #inputAdd, #addTask{
    width:300px;
    font-size:25px;
  }
  .task{
    width:440px;
  }
 .taskName{
  font-size: 27px;
  margin-top: 10px
 }
 #content-popup{
  margin: 15% auto;
 }
}
